body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

a {
    text-decoration: none;
    color: #2294d7;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #2294d7;
    color: #fff;
}

.top-bar p {
    margin: 0;
}

.user-actions a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.user-actions a:hover {
    text-decoration: underline;
}

/* Header principal */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.search-bar {
    display: flex;
    width: 50%;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 10px;
    border: 1px solid #ddd;
    border-left: 0;
    background-color: #2294d7;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}


:root {
    --primary-color: #2294d7;
    --text-color: #333;
    --background-color: white;
    --nav-height: 60px;
    --padding: 10px 20px;
    --dropdown-bg-color: #f9f9f9;
    --dropdown-hover-bg-color: #f1f1f1;
    --dropdown-hover-link-bg-color: #ddd;
    --dropdown-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding);
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    height: var(--nav-height);
    z-index: 1000;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-logo span {
    color: var(--primary-color);
}

/* Dropdown menu */
.nav-categorie {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg-color);
    min-width: 160px;
    box-shadow: var(--dropdown-shadow);
    z-index: 1;
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 12px 16px;
}

.dropdown-menu li a {
    color: #555;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
    background-color: white ;
}

/* End Dropdown menu */

.nav-links,
.nav-actions {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li,
.nav-actions li {
    margin-right: 30px;
    list-style-type: none;
}
.nav-actions{
    margin: 0px 20px;
}

.nav-links li a,
.nav-actions li a {
    /* color: var(--background-color); */
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.nav-links li a:hover,
.nav-actions li a:hover {
    color: #ee931d;
    text-decoration: underline;
}

.nav-toggle-label {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

#nav-toggle {
    display: none;
}

/* EN TETE RESPONSIVE */

@media (max-width: 1004px) {
    .top-bar p{
        margin-left: -3em;
    }
    .nav-logo {
        margin-left: -4em;
    }
}

@media (max-width: 768px) and (min-width: 700px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .nav-logo {
        margin-left:-5px;
    }

}
@media (max-width: 700px) and (min-width: 620px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .nav-logo {
        margin-left:-30px;
    }
    .search-bar {
        display: flex;
        width: 60%;
    }

}
@media (max-width: 620px) and (min-width: 520px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .nav-logo {
        margin-left:-30px;
    }
    .search-bar {
        display: flex;
        width: 60%;
    }

}
@media (max-width: 520px) and (min-width: 400px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .top-bar p {
        font-size: 10px;
        display: block;
    }
    .top-bar p span{
        display: block;
    }
    .nav-logo {
        margin-left:-30px;
        display: block;
    }
    .nav-logo span {
        display: block;
        margin-bottom: -15px;
    }
    .search-bar {
        display: flex;
        width: 60%;
        margin-left: 20px;
    }

}
@media (max-width: 400px) and (min-width: 365px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .top-bar p {
        font-size: 10px;
        display: block;
    }
    .top-bar p span{
        display: block;
    }
    .nav-logo {
        margin-left:-30px;
        display: block;
    }
    .nav-logo span {
        display: block;
        margin-bottom: -15px;
    }
    .search-bar {
        display: flex;
        width: 70%;
        margin-left: 20px;
    }

}
@media (max-width: 365px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .top-bar p {
        font-size: 10px;
        display: block;
    }
    .top-bar p span{
        display: block;
    }
    .nav-logo {
        margin-left:-20px;
        display: block;
        font-size: 20px;
    }
    .nav-logo span {
        display: block;
        margin-bottom: -15px;
    }
    .search-bar {
        display: flex;
        width: 80%;
        margin-left: 20px;
    }
    
}