.nom-categorie {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/electronique.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-position: center;
    padding: 20px;
    color: white;
}

.nomCategorieText {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
}

.nomCategorieText h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.nomCategorieText p {
    font-size: 1.2rem;
}

/* RESPONSIVE SCROOL BAR */
@media (max-width: 768px) {
    .nom-categorie {
        height: 300px;
    }
    
    .nomCategorieText h1 {
        font-size: 2rem;
    }

    .nomCategorieText p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .nom-categorie {
        height: 250px;
    }

    .nomCategorieText h1 {
        font-size: 1.5rem;
    }

    .nomCategorieText p {
        font-size: 0.9rem;
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
a {
    text-decoration: none;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #2294d7;
    color: #fff;
}

.top-bar p {
    margin: 0;
}

.user-actions a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.user-actions a:hover {
    text-decoration: underline;
}

/* Header principal */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.search-bar {
    display: flex;
    width: 50%;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 10px;
    border: 1px solid #ddd;
    border-left: 0;
    background-color: #2294d7;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}


:root {
    --primary-color: #2294d7;
    --text-color: #333;
    --background-color: white;
    --nav-height: 60px;
    --padding: 10px 20px;
    --dropdown-bg-color: #f9f9f9;
    --dropdown-hover-bg-color: #f1f1f1;
    --dropdown-hover-link-bg-color: #ddd;
    --dropdown-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding);
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    height: var(--nav-height);
    z-index: 1000;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-logo span {
    color: var(--primary-color);
}

/* Dropdown menu */
.nav-categorie {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg-color);
    min-width: 160px;
    box-shadow: var(--dropdown-shadow);
    z-index: 1;
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 12px 16px;
}

.dropdown-menu li a {
    color: #555;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

/* End Dropdown menu */

.nav-links,
.nav-actions {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li,
.nav-actions li {
    margin-right: 30px;
    list-style-type: none;
}
.nav-actions{
    margin: 0px 20px;
}

.nav-links li a,
.nav-actions li a {
    /* color: var(--background-color); */
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.nav-links li a:hover,
.nav-actions li a:hover {
    /* color: #ee931d; */
    text-decoration: #ee931d 4px underline;
}

.nav-toggle-label {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

#nav-toggle {
    display: none;
}

/* EN TETE RESPONSIVE */

@media (max-width: 1004px) {
    .top-bar p{
        margin-left: -3em;
    }
    .nav-logo {
        margin-left: -4em;
    }
}
@media (max-width: 768) {

}

@media (max-width: 768px) and (min-width: 700px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .nav-logo {
        margin-left:-5px;
    }

}
@media (max-width: 700px) and (min-width: 620px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .nav-logo {
        margin-left:-30px;
    }
    .search-bar {
        display: flex;
        width: 60%;
    }

}
@media (max-width: 620px) and (min-width: 520px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .nav-logo {
        margin-left:-30px;
    }
    .search-bar {
        display: flex;
        width: 60%;
    }

}
@media (max-width: 520px) and (min-width: 400px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .top-bar p {
        font-size: 10px;
        display: block;
    }
    .top-bar p span{
        display: block;
    }
    .nav-logo {
        margin-left:-30px;
        display: block;
    }
    .nav-logo span {
        display: block;
        margin-bottom: -15px;
    }
    .search-bar {
        display: flex;
        width: 60%;
        margin-left: 20px;
    }

}
@media (max-width: 400px) and (min-width: 365px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .top-bar p {
        font-size: 10px;
        display: block;
    }
    .top-bar p span{
        display: block;
    }
    .nav-logo {
        margin-left:-30px;
        display: block;
    }
    .nav-logo span {
        display: block;
        margin-bottom: -15px;
    }
    .search-bar {
        display: flex;
        width: 70%;
        margin-left: 20px;
    }

}
@media (max-width: 365px) {
    .nav-toggle-label {
        display: block;
        margin-left: -95%;
        color: white;
    }
    .top-bar p {
        font-size: 10px;
        display: block;
    }
    .top-bar p span{
        display: block;
    }
    .nav-logo {
        margin-left:-20px;
        display: block;
        font-size: 20px;
    }
    .nav-logo span {
        display: block;
        margin-bottom: -15px;
    }
    .search-bar {
        display: flex;
        width: 80%;
        margin-left: 20px;
    }
    
}

/* FIN RESPONSIVE ENTETE */


/* FIN RESPONSIVE NAVBAR */

/* Nos meilleurs produits css */

.titre {
    text-align: center;
    margin-top: 35px;
    text-decoration: none;
}

.title {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
    color: #555;
    position: relative;
}

.title::after {
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    background: #ee931d;
    margin: 10px auto 0;
    border-radius: 5px;
}

.afficher-plus {
    font-size: 15px;
    color: #ee931d;
    text-decoration: none;
}

.produits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}
/* .produits-text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        gap: 15px;
} */
/* .produits-contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
    gap: 15px;
} */

.produits-info .price{
    margin-bottom: 25px;
}
.produits-info .nom_pro{
    margin-bottom: 10px;
}

.produits-text {
    flex: 1 1 calc(18% - 15px);
    max-width: calc(18% - 18px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    border: 1px solid #dad8d8;
}
.produits-info::after{
    position: fixed;
}

.produits-text img {
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
}
.produits-text:hover {
    transform: scale(1.03);
}
.produits-text h3{
    margin: 0;
    font-size: 25px;
}
.produits-text p{
    margin: 0;
    font-size: 20px;
}
.detail button{
   flex: 1;
   width: 100%;
   margin: 5px;
   background-color: #ee931d;
   text-align: center;
   padding: 7px 15px;
   box-sizing: border-box;
   border-radius: 5px;
   font-size: 18px;
   color: white;
   border: 1px solid #ee931d;
   transition: background 0.5s;
}
.detail button:hover {
    background: #d48115;
    color: white;
}
.acheter button{
    width: 100%;
   flex: 1;
   margin: 5px;
   background-color: #2294d7;
   text-align: center;
   padding: 7px 15px;
   box-sizing: border-box;
   border-radius: 5px;
   font-size: 18px;
   color: white;
   border: 1px solid #2294d7;
   transition: background 0.5s;
}
.acheter button:hover {
    background: #356bc0;
    color: white;
}
/* .acheter {
    flex: 1;
    margin: 5px;
    background-color: #2294d7;
    text-align: center;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 5px;
} */

/* .achat {
   display: flex;
   justify-content: space-between;
} */
/* #detail {
    background-color: #ee931d;
    color: white;
}
#acheter {
    background-color: #275296;
    color: white;
}
#acheter:hover{
    background-color: #356bc0;
}
#detail:hover{
    background-color: #d48115;
} */

@media (max-width: 1280px) and (min-width: 1024px) {
    nav ul li{
        margin-left: 0 5em;
    }
    .logo h1{
        margin-left: 0;
        margin-right: 5rem;
    }
    /* .categories-text {
        flex: 1 1 100%;
        max-width: 100%;
    } */
    .produits-text img {
        max-width: 100%;
        width: 200%;
        height: 150%;
        margin-bottom: 10px;
    }
    .produits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 40px;
    }   
    .produits-info .price{
        margin-bottom: 25px;
    }
    .produits-info .nom_pro{
        margin-bottom: 10px;
    }
    
    .produits-text {
        flex: 1 1 calc(25% - 50px);
        max-width: calc(25% - 50px);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        border: 1px solid #dad8d8;
    }
    .produits-info::after{
        position: fixed;
    }
    
    /* .produits-text img {
        width: 200px;
        height: 150px;
        margin-bottom: 20px;
    } */
    .produits-text:hover {
        transform: scale(1.03);
    }
    .produits-text h3{
        margin: 0;
        font-size: 25px;
    }
    .produits-text p{
        margin: 0;
        font-size: 20px;
    }
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}
@media (max-width: 1024px) and (min-width: 768px){
    .logo h1{
        margin-left: 0;
    }
    nav ul{
        margin-left:7em;
    }
    .connexion{
        margin-left: -5em;
    }
    .categories-text {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .produits-text {
        flex: 1 1 calc(25% - 50px);
        max-width: calc(25% - 50px);
    }
    .produits-text img {
        max-width: 100%;
        width: 200%;
        height: 150%;
        margin-bottom: 10px;
    }
    .produits-contenu {
        gap: 20px;
    }
    .produits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
    }
    .produits-contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        gap: 15px;
    }
    
    .produits-info .price{
        margin-bottom: 25px;
    }
    .produits-info .nom_pro{
        margin-bottom: 10px;
    }
    
    .produits-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        border: 1px solid #dad8d8;
    }
    .produits-info::after{
        position: fixed;
    }
    
    .produits-text img {
        width: 200px;
        height: 150px;
        margin-bottom: 20px;
    }
    .produits-text:hover {
        transform: scale(1.03);
    }
    .produits-text h3{
        margin: 0;
        font-size: 25px;
    }
    .produits-text p{
        margin: 0;
        font-size: 20px;
    }
    
    /* .acheter {
        position: relative;
        bottom: 10px;
        padding: 5px 20px;
        background: #275296;
        border-radius: 5px;
        color: white;
        transition: background 0.5s;
    }
    .détail {
        background-color: #ee931d;
        padding: 5px 5px;
        position: relative;
        bottom: 10px;
        padding: 5px 20px;
        background: #ee931d;
        border-radius: 5px;
        color: white;
        transition: background 0.5s;
    } */
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}
@media (max-width: 999px) and (min-width: 885px){
    .logo h1{
        margin-left: 0;
    }
    nav ul {
        margin-left: 4em;
    }
    .connexion{
        margin-left: -10em;
    }
    #pannier{
        margin-left: -5em;
    }
    .categories-text {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .produits-text {
        flex: 1 1 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
    .produits-text img {
        max-width: 100%;
        width: 200%;
        height: 50%;
        margin-bottom: 10px;
    }
    .produits-contenu {
        gap: 20px;
    }
    .produits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
    }
    .produits-contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        gap: 15px;
    }
    
    .produits-info .price{
        margin-bottom: 25px;
    }
    .produits-info .nom_pro{
        margin-bottom: 10px;
    }
    
    .produits-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        border: 1px solid #dad8d8;
    }
    .produits-info::after{
        position: fixed;
    }
    
    .produits-text img {
        width: 200px;
        height: 150px;
        margin-bottom: 20px;
    }
    .produits-text:hover {
        transform: scale(1.03);
    }
    .produits-text h3{
        margin: 0;
        font-size: 25px;
    }
    .produits-text p{
        margin: 0;
        font-size: 20px;
    }
    
    /* .acheter {
        position: relative;
        bottom: 10px;
        padding: 5px 20px;
        background: #275296;
        border-radius: 5px;
        color: white;
        transition: background 0.5s;
    }
    .détail {
        background-color: #ee931d;
        padding: 5px 5px;
        position: relative;
        bottom: 10px;
        padding: 5px 20px;
        background: #ee931d;
        border-radius: 5px;
        color: white;
        transition: background 0.5s;
    } */
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}
@media (max-width: 884px) and (min-width: 769px){
    .logo h1{
        margin-left: 0;
    }
    nav ul {
        margin-left: 2em;
    }
    .connexion{
        margin-left: -11em;
    }
    #pannier{
        margin-left: -6em;
    }
    .categories-text {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .produits-text {
        flex: 1 1 calc(30% - 10px);
        max-width: calc(30% - 10px);
    }
    .produits-text img {
        max-width: 100%;
        width: 200%;
        height: 50%;
        margin-bottom: 10px;
    }
    .produits-contenu {
        gap: 20px;
    }
    .produits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 40px;
    }
    .produits-contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        gap: 15px;
    }
    
    .produits-info .price{
        margin-bottom: 25px;
    }
    .produits-info .nom_pro{
        margin-bottom: 10px;
    }
    
    .produits-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        border: 1px solid #dad8d8;
    }
    .produits-info::after{
        position: fixed;
    }
    
    .produits-text img {
        width: 200px;
        height: 150px;
        margin-bottom: 20px;
    }
    .produits-text:hover {
        transform: scale(1.03);
    }
    .produits-text h3{
        margin: 0;
        font-size: 25px;
    }
    .produits-text p{
        margin: 0;
        font-size: 20px;
    }
    
    /* .acheter {
        position: relative;
        bottom: 10px;
        padding: 5px 20px;
        background: #275296;
        border-radius: 5px;
        color: white;
        transition: background 0.5s;
    }
    .détail {
        background-color: #ee931d;
        padding: 5px 5px;
        position: relative;
        bottom: 10px;
        padding: 5px 20px;
        background: #ee931d;
        border-radius: 5px;
        color: white;
        transition: background 0.5s;
    }
    
    .detail:hover{
        background: #804a04;
    }
    
    .acheter:hover {
        background: #2294d7;
    } */
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}

@media (max-width: 768){
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}

@media (max-width: 768px) and (min-width: 566px) {
    .head {
        width: 100%;
        overflow: hidden;
        display: flex;
    }
    nav ul {
        flex-direction: column;
        align-items:center;
        width: 100%;
    }
    .logo h1{
        font-size: 25px;
        margin-left:0rem ;
    }
    .header{
        width: 100%;
        max-width: 100%;
    }
    .header-text p{
        font-size: 13px;
        margin-left: 20em;
    }
    .header-text .p1{
        margin-left: 18em;
        display: block;
    }
    .header-text .p2{
        margin-left: 18em;
        display: block;
    }
    .header-text h1{
        font-size: 20px;
        margin-left: 13em;
    }
    .header-text a{
        font-size: 13px;
        margin-left: 16em;
    }

    .header-contenu {
        flex-direction: column;
        text-align: center;
    }
    .header-contenu img{
        margin-left: 6em;
        max-width: 300px;
        height: 300px;
    }

    .categories-text {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .produits-text {
        flex: 1 1 calc(30% - 5px);
        max-width: calc(30% - 5px);
    }
    .produits-text img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .produits-contenu {
        gap: 20px;
    }
    .produits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
    }
    .produits-contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        gap: 15px;
    }
    
    .produits-info .price{
        margin-bottom: 25px;
    }
    .produits-info .nom_pro{
        margin-bottom: 10px;
    }
    
    .produits-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        border: 1px solid #dad8d8;
    }
    .produits-info::after{
        position: fixed;
    }
    
    .produits-text img {
        width: 200px;
        height: 150px;
        margin-bottom: 20px;
    } 
    .produits-text:hover {
        transform: scale(1.03);
    }
    .produits-text h3{
        margin: 0;
        font-size: 25px;
    }
    .produits-text p{
        margin: 0;
        font-size: 20px;
    }
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
    
}

@media (max-width:680px) {
    .achat {
        display: block;
    }
    .acheter{
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    .categories-text {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .produits-text {
        flex: 1 1 calc(30% - 10px);
        max-width: calc(33% - 10px);
    }
    .produits-text img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .produits-contenu {
        gap: 20px;
    }
    .produits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
    }
    .produits-contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        gap: 15px;
    }
    
    .produits-info .price{
        margin-bottom: 25px;
    }
    .produits-info .nom_pro{
        margin-bottom: 10px;
    }
    
    .produits-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        border: 1px solid #dad8d8;
    }
    .produits-info::after{
        position: fixed;
    }
    
    .produits-text img {
        width: 200px;
        height: 150px;
        margin-bottom: 20px;
    }  
    .produits-text:hover {
        transform: scale(1.03);
    }
    .produits-text h3{
        margin: 0;
        font-size: 25px;
    }
    .produits-text p{
        margin: 0;
        font-size: 20px;
    }
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}
@media (max-width: 565px) and (min-width: 480px) {
    .head {
        width: 100%;
        overflow: hidden;
        display: flex;
    }
    nav ul {
        flex-direction: column;
        align-items:center;
        width: 100%;
    }
    .logo h1{
        font-size: 25px;
        margin-left:0rem ;
    }
    .header{
        width: 100%;
        max-width: 100%;
    }
    .header-text p{
        font-size: 13px;
        margin-left: 20em;
    }
    .header-text .p1{
        margin-left: 18em;
        display: block;
    }
    .header-text .p2{
        margin-left: 18em;
        display: block;
    }
    .header-text h1{
        font-size: 20px;
        margin-left: 13em;
    }
    .header-text a{
        font-size: 13px;
        margin-left: 16em;
    }

    .header-contenu {
        flex-direction: column;
        text-align: center;
    }
    .header-contenu img{
        margin-left: 2em;
        max-width: 300px;
        height: 300px;
        top: 0em;
    }

    .categories-text {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .produits-text {
        flex: 1 1 calc(25% - 0px);
        max-width: calc(25% - 0px);
    }
    .produits-text img {
        max-width: 100%;
        width: 200%;
        height: 50%;
        margin-bottom: 10px;
    }
    .produits-contenu {
        gap: 20px;
    }
    .produits-text {
        flex: 1 1 calc(30% - 10px);
        max-width: calc(33% - 10px);
    }
    .produits-contenu {
        gap: 20px;
    }
    .produits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
    }
    .produits-contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        gap: 15px;
    }
    
    .produits-info .price{
        margin-bottom: 25px;
    }
    .produits-info .nom_pro{
        margin-bottom: 10px;
    }
    
    .produits-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        border: 1px solid #dad8d8;
    }
    .produits-info::after{
        position: fixed;
    }
    
    .produits-text img {
        width: 200px;
        height: 100px;
        margin-bottom: 20px;
    }
    
    .produits-text:hover {
        transform: scale(1.03);
    }
    .produits-text h3{
        margin: 0;
        font-size: 25px;
    }
    .produits-text p{
        margin: 0;
        font-size: 20px;
    }
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}

@media (max-width: 480px) and (min-width: 410px){
    .head {
        width: 100%;
        overflow: hidden;
        display: flex;
    }
    nav ul {
        flex-direction: column;
        align-items:center;
        width: 100%;
    }
    .logo h1{
        font-size: 25px;
        margin-left:0rem ;
    }
    .header{
        width: 100%;
        max-width: 100%;
    }
    .header-text p{
        font-size: 9px;
        margin-left: 20em;
    }
    .header-text .p1{
        margin-left: 25em;
        display: inline-block;
    }
    .header-text .p2{
        margin-left: 25em;
        display: inline-block;
    }
    .header-text h1{
        font-size: 12px;
        margin-left: 20em;
    }
    .header-text a{
        font-size: 9px;
        margin-left: 22em;
    }

    .header-contenu {
        flex-direction: column;
        text-align: center;
    }
    .header-contenu img{
        margin-left: 0em;
        max-width: 300px;
        height: 300px;
        top: 0em;
    } 
    .categories-text {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .produits-contenu {
        gap: 20px;
    }  
    .produits-text {
        flex: 1 1 calc(47% - 0px);
        max-width: calc(47% - 0px);
    }
    .produits-text img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .produits-contenu {
        gap: 20px;
    }
    .produits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
    }
    .produits-contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        gap: 15px;
    }
    
    .produits-info .price{
        margin-bottom: 25px;
    }
    .produits-info .nom_pro{
        margin-bottom: 10px;
    }
    
    .produits-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        border: 1px solid #dad8d8;
    }
    .produits-info::after{
        position: fixed;
    }
    
    .produits-text img {
        width: 200px;
        height: 150px;
        margin-bottom: 20px;
    }
    .produits-text:hover {
        transform: scale(1.03);
    }
    .produits-text h3{
        margin: 0;
        font-size: 25px;
    }
    .produits-text p{
        margin: 0;
        font-size: 20px;
    }
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}
@media (max-width: 410px) and (min-width: 315px){
    .head {
        width: 100%;
        overflow: hidden;
        display: flex;
    }
    nav ul {
        flex-direction: column;
        align-items:center;
        width: 100%;
    }
    .logo h1{
        font-size: 25px;
        margin-left:0rem ;
    }
    .header{
        width: 100%;
        max-width: 100%;
    }
    .header-text p{
        font-size: 9px;
        margin-left: 20em;
    }
    .header-text .p1{
        margin-left: 24em;
        display: inline-block;
    }
    .header-text .p2{
        margin-left: 24em;
        display: inline-block;
    }
    .header-text h1{
        font-size: 12px;
        margin-left: 18em;
    }
    .header-text a{
        font-size: 9px;
        margin-left: 22em;
    }

    .header-contenu {
        flex-direction: column;
        text-align: center;
    }
    .header-contenu img{
        margin-left: -5em;
        max-width: 300px;
        height: 300px;
        top: 0em;
    }   
    .categories-text {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .produits-text img {
        max-width: 100%;
        width: 200%;
        height: 50%;
        margin-bottom: 10px;
    }
    .produits-contenu {
        gap: 10px;
    }
    .produits-text {
        flex: 1 1 calc(47% - 0px);
        max-width: calc(47% - 0px);
    }
    .produits-text img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .produits-contenu {
        gap: 20px;
    }
    .produits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
    }
    .produits-contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
        gap: 15px;
    }
    
    .produits-info .price{
        margin-bottom: 25px;
    }
    .produits-info .nom_pro{
        margin-bottom: 10px;
    }
    
    .produits-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        border: 1px solid #dad8d8;
    }
    .produits-info::after{
        position: fixed;
    }
    
    .produits-text img {
        width: 200px;
        height: 100px;
        margin-bottom: 20px;
    }
    .produits-text:hover {
        transform: scale(1.03);
    }
    .produits-text h3{
        margin: 0;
        font-size: 25px;
    }
    .produits-text p{
        margin: 0;
        font-size: 20px;
    }
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}


@media (max-width: 768px) {
    .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #ffffff;
        padding: 10px;
    }

    nav {
        color: #333;
    }

    .menu-icon {
        display: flex;
    }

    .connexion-partie {
        display: none;
    }

    .menu.show {
        display: flex;
    }

    .dropdown .sous-menu {
        position: static;
    }
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}

@media (max-width: 768px) {
    .nav-toggle-label {
        display: block;
        margin-right: 20px;
    }
    nav {
        color: #333;
    }

    .nav-links {
        position: absolute;
        top: var(--nav-height);
        right: -100%;
        background-color: var(--background-color);
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        transition: right 0.3s ease-in-out;
        color: #333;
    }

    .nav-links li {
        margin: 20px 0;
        color: #333;
    }

    .nav-links li a {
        font-size: 20px;
        color: #333;
    }

    #nav-toggle:checked ~ .nav-links {
        right: 0;
    }
    
    .dropdown-menu {
        position: static;
        width: 100%;
        box-shadow: none;
    }

    .nav-actions {
        display: flex;
    }
    .nav-actions{
        display: flex;
        position: relative;
        left: 0em;
    }

    .connexion{
        position: relative;
        left: 0em;
    }
}

@media (max-width: 999px) and (min-width: 769px){
    .nav-actions{
        display: flex;
        position: relative;
        left: 6em;
    }

    .connexion{
        position: relative;
        left: 3em;
    }
    .detail button{
        flex: 1;
        width: 100%;
        margin: 5px;
        background-color: #ee931d;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #ee931d;
        transition: background 0.5s;
     }
     .detail button:hover {
         background: #d48115;
         color: white;
     }
     .acheter button{
         width: 100%;
        flex: 1;
        margin: 5px;
        background-color: #2294d7;
        text-align: center;
        padding: 7px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        border: 1px solid #2294d7;
        transition: background 0.5s;
     }
     .acheter button:hover {
         background: #356bc0;
         color: white;
     }
}



/* Footter css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    width: 100%;
    position: relative;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1 1 200px;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #2294d7;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons img {
    width: 25px;
    height: auto;
}

.inscrire input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border 0.3s;
}

.inscrire input:focus {
    border-color: #2294d7;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-column {
        flex: 1 1 100%;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 30px 15px;
    }

    .footer-column h3 {
        font-size: 16px;
    }

    .footer-bottom p {
        font-size: 12px;
    }
}


