{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password_reset</title>
    <link rel="stylesheet" href=" {% static 'Acount/css/footer.css' %} ">
    <link rel="stylesheet" href=" {% static 'Acount/css/password_reset.css' %} ">
    
</head>
<body>
    
    <h1><span>WI</span>SHOP</h1>
    <p>Veuillez entrer votre adresse email.
        vous recevrez un lien pour réinitialiser votre mot de passe
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Envoyer</button><br>

        <a class="a" style="color: #2294d7; margin: 10px;" href="{% url 'connexion' %}">Retour à la connexion</a>
    </form>
    


    {% include "Acount/footer.html" %}
</body>
</html>
