{% load static %}
{% include "Produits/header.html" %}


<h3 style="text-align: center; margin-top: 20px;"> Voici vos produit rechercher </h3>

    <div class="produits" style="margin-top: 20px">
        
        <div class="produits-contenu">
            
            {% for produit in prods %}
            
            <div class="produits-text">
                <img class="images" src="{{produit.image.url}}" alt="{{produit.nom}}">
            <div class="produits-info">
                <h3 class="nom_pro">{{produit.nom}}</h3>
                <p class="price">{{produit.prix}}</p>
                <div class="achat">
                    <a id="detail" class="acheter" href="{% url 'details' produit.id %}">Détails</a>
                    <a id="acheter" class="acheter" href="connexion.html">Acheter</a>
                </div>
                
            </div>
        </div>

        {% empty %}

             <h3>le produit rechercher n'existe pas !!!</h3>
            
            {% endfor %}
            
        </div>
    </div>


    {% include "Produits/footer.html" %}

    {% comment %} <footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h3>À propos de nous</h3>
                <p>Nous sommes une boutique en ligne dédiée à offrir les meilleurs produits à nos clients avec un service de qualité supérieure.</p>
            </div>
            <div class="footer-column">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Produits</a></li>
                    <li><a href="#">Catégories</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contactez-nous</h3>
                <ul>
                    <li>Email: <a href="mailto:tulip@ecommerce.com">tulip@ecommerce.com</a></li>
                    <li>Téléphone: <a href="tel:+224625617377">+224 625617377</a></li>
                    <li>Adresse: Guinée, Conakry T7</li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Suivez-nous</h3>
                <div class="social-icons">
                    <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="images/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
                    <a href="#"><img src="images/linkedin.png" alt="LinkedIn"></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>S'inscrire</h3>
                <div class="inscrire">
                    <input type="email" placeholder="Entrez votre email">
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 E-commerce. Tous droits réservés.</p>
        </div>
    </footer>


</body>
</html> {% endcomment %}